body {
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.owner {
  /* door margin-left en margin-right op 'auto' in te stellen, 
    wordt de div automatisch horizontaal gecentreerd */
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 4px;
  border: 2px solid #000;
  background-color: lightgray;
}

.owner span {
  font-weight: bold;
}

.welcome {
  font-size: 20px;
  color: #000;
  font-weight: light;
  text-align: center;
  margin-top: 20px;
}

.lessons {
  font-size: 20px;
  color: #000;
  font-weight: light;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.lessons .folder-title {
  padding: 5px;
}

.lessons .folder-title:hover {
  background-color: rgb(150, 148, 148);
  cursor: pointer;
}

.lessons a {
  padding: 5px;
  color: #000;
  text-decoration: none;
}
.lessons a:hover {
  background-color: lightgray;
}

.folder {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
}

.info-page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label-img {
  width: 80px;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.link-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  border: 2px solid lightskyblue;
  padding: 10px;
}

.link-bar a {
  padding: 5px;
  color: #000;
  text-decoration: none;
}

.link-bar a:hover {
  background-color: lightgray;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  text-decoration: underline;
}

.paragraph {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}

.card {
  border: 2px solid lightseagreen;
  border-radius: 10px;
  padding: 5px;
}

.card .subtitle {
  text-align: center;
}

.card .img-div {
  text-align: center;
}

.border-red {
  border: 2px solid rgb(214, 48, 48);
}

.aha-card {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 5px;
}

.aha-card p {
  margin-left: 30px;
}

.exercise-card {
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;
}

.student-template {
  border: 3px dotted lightgrey;
  border-radius: 10px;
  padding: 5px;
}

/* een afbeelding die responsief groeit of krimp relatief aan de parent */
.responsive-image {
  max-width: 100%;
  margin: 5px;
  border-radius: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.click-me:hover {
  cursor: pointer;
  text-decoration: underline;
}

.centered {
  text-align: center;
}

li {
  margin-bottom: 10px;
}

.important {
  font-weight: bold;
  color: red;
}

.good {
  font-weight: bold;
  color: green;
}

.bad {
  font-weight: bold;
  color: red;
  text-decoration: line-through;
}

#back-to-top {
  color: gray;
  text-decoration: none;
}

pre {
  white-space: pre-wrap; /* Wraps the content */
  word-wrap: break-word; /* Breaks long words */
  overflow-x: auto; /* Adds horizontal scroll if needed */
  background-color: rgb(245, 239, 239);
  border-radius: 10px;
  padding: 10px;
}

code span {
  color: darkgreen;
  font-style: italic;
  font-weight: light;
}

.return {
  color: purple;
}

.node {
  color: darkblue;
}

.answer {
  color: rgb(24, 24, 126);
  font-family: "Courier New", Courier, monospace;
}

.border-purple {
  border: 2px solid purple;
}

.border-blue {
  border: 2px solid blue;
}

.padding-40 {
  padding: 40px;
}

.background-red {
  background-color: red;
}

.underline {
  text-decoration: underline;
}
